<section class=".sidebar category">
  <h2>Categories</h2>
  <% if (locals.categories) { %>
  <ul>
    <% categories.forEach(category => { %>
    <li>
      <a class="<%= locals.category?.categoryId === category.categoryId && 'selected' %>" href="/category/<%= category.categoryId %>"><%= category.name %></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</section>