<section class=".sidebar option">
  <h2>Options</h2>
  <% if (locals.options) { %>
  <ul>
    <% options.forEach(option => { %>
    <li>
      <a href="/option/<%= option.optionId %>"><%= option.name %></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</section>