<section class=".sidebar product">
  <h2>Products</h2>
  <% if (locals.products) { %>
  <ul>
    <% products.forEach(product => { %>
    <li>
      <a class="<%= locals.product?.productId === product.productId && 'selected' %>" href="/product/<%= product.productId %>"><%= product.name %></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</section>