<section class="sub-header category">
  <h2>Categories</h2>
  <% if (locals.categories) { %>
  <ul>
    <% categories.forEach(category => { %>
    <li>
      <a href="/category/<%= category.categoryId %>"><%= category.name %></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</section>
