<header>
  <h1>Fabric Shop</h1>
  <nav>
    <ul>
      <% links.forEach(link => { %>
      <li>
        <a class="<%= link.href.includes(locals.route.page) && 'selected' %>" href="<%= link.href %>"><%= link.text %></a>
      </li>
      <% }) %>
    </ul>
  </nav>
</header>