<section>
  <h2>Products</h2>
  <% if (locals.products) { %>
  <ul>
    <% products.forEach(product => { %>
    <li>
      <a href="/product/<%= product.productId %>"><%= product.name %></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</section>
