<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fabric Shop</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <h2>Home</h2>
    <p>Fabric Shop Inventory Managing Systeam</p>
    <div style="display: flex; gap: 10rem">
      <section>
        <h3>Categories</h3>
        <%- include("partials/category-header") %>
      </section>
      <section>
        <h3>Products</h3>
        <%- include("partials/product-header") %>
      </section>
      <section>
        <h3>Options</h3>
        <%- include("partials/option-header") %>
      </section>
    </div>
  </body>
</html>
