<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fabric Shop</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <%- include("headers/header") %>
  <section class="sub-header">
    <h2>Home</h2>
    <p>Fabric Shop Inventory Managing Systeam</p>
  </section>
  <main style="display: flex; gap: 10rem">
    <%- include("headers/category-header") %>
    <%- include("headers/product-header") %>
    <%- include("headers/option-header") %>
  </main>
</body>

</html>