<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fabric Shop</title>
  </head>
  <body>
    <%- include("headers/header") %>
    <h2>Home</h2>
    <p>Fabric Shop Inventory Managing Systeam</p>
    <div style="display: flex; gap: 10rem">
      <section>
        <h3>Categories</h3>
        <% if (locals.categories) { %>
        <ul>
          <% categories.forEach(category => { %>
          <li>
            <%= category.name %>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </section>
      <section>
        <h3>Products</h3>
        <% if (locals.products) { %>
        <ul>
          <% products.forEach(product => { %>
          <li>
            <%= product.name %>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </section>
      <section>
        <h3>Options</h3>
        <% if (locals.options) { %>
        <ul>
          <% options.forEach(option => { %>
          <li>
            <%= option.name %>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </section>
    </div>
  </body>
</html>
