*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sub-header-rows: 3rem auto;
  --sub-header-list-margin: 0 1rem;
  --main-rows-divided-2: 6rem auto;
  --main-rows-divided-3: 3rem 3rem auto;
  --main-rows-divided-5: repeat(4, 3rem) auto;
  --main-rows-divided-6: repeat(5, 3rem) auto;
  --main-rows-divided-7: repeat(6, 3rem) auto;
  --main-list-margin: 0.5rem 1rem;
  --color: #3f3f3f;
  --link-color: forestgreen;
  --error-color: brown;
  --buttons-gap: 1rem;
  --delete-button-background: crimson;
  --button-padding: 0.4rem 0.6rem;
}

body {
  max-width: calc(1980px * 0.8);
  min-height: 100dvh;
  margin: 0 auto;
  color: var(--color);

  display: grid;
  grid-template-rows: 8rem 10rem auto;
}

body > .sub-header > ul {
  margin: var(--sub-header-list-margin);
}

main .sub-header ul {
  margin: var(--main-list-margin);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

p > label,
span {
  font-weight: bold;
}

.error {
  color: var(--error-color);
  list-style-type: none;
}

header {
  display: grid;
  align-items: center;
}

body > .sub-header {
  display: grid;
  grid-template-rows: var(--sub-header-rows);
}

button {
  padding: var(--button-padding);
}

main.add.category {
  display: grid;
  grid-template-rows: var(--main-rows-divided-2);
}

.add .guide {
  display: grid;
  align-items: center;
}

.add.category .form-wrapper {
  display: grid;
  grid-template-rows: var(--main-rows-divided-3);
  align-items: center;
}

.add.category form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add.category .form-wrapper .error {
  align-self: self-start;
}

main.detail.category {
  display: grid;
  grid-template-rows: var(--main-rows-divided-3);
  align-items: center;
}

.detail .buttons {
  display: flex;
  gap: var(--buttons-gap);
}

button.delete {
  background-color: var(--delete-button-background);
}

.detail.category .information {
  align-self: self-start;

  display: grid;
  grid-template-rows: var(--main-rows-divided-5);
  align-items: center;
}

.information ul,
.update ul {
  margin: 0 2rem;
}

main.update.category {
  display: grid;
  grid-template-rows: 3rem 20rem 3rem;
  align-items: center;
}

.update form {
  align-self: self-start;

  display: grid;
  grid-template-rows: var(--main-rows-divided-6);
  align-items: center;
}

.update .buttons {
  display: flex;
  align-items: flex-start;
  gap: var(--buttons-gap);
}

body > .sub-header.product ul {
  max-height: 6rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 3rem;
}

body > .sub-header li {
  max-width: 30%;
}

main.add.product {
  display: grid;
  grid-template-rows: var(--main-rows-divided-2);
}

main.add .form-wrapper {
  display: grid;
  grid-template-rows: 3rem auto;
  align-items: center;
}

.add.product form {
  align-self: self-start;
  max-width: 70rem;
  max-height: 20rem;

  display: grid;
  grid-template-areas:
    "category product-name product-price button"
    "options options options options";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3rem auto 3rem;
  column-gap: 2rem;
  row-gap: 1rem;
  align-items: center;
}

.add.product .input.category {
  grid-area: category;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add.product .input.product-name {
  grid-area: product-name;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add.product .input.product-price {
  grid-area: product-price;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add.product .input.options {
  grid-area: options;
  padding: 1rem;
  overflow-y: scroll;
}

.input.options > ul {
  max-height: 12rem;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.input.options li {
  max-width: 20%;
  overflow-x: hidden;
}

.add.product button {
  grid-area: button;
  justify-self: center;
}

main.detail.product {
  display: grid;
  grid-template-rows: var(--main-rows-divided-3);
  align-items: center;
}

.detail.product .information {
  align-self: self-start;
  display: grid;
  grid-template-rows: var(--main-rows-divided-7);
  align-items: center;
}
