<main>
  <h2>Add new category</h2>
  <p>Fill the form below to add a new category</p>
  <section>
    <h3>New Option</h3>
    <div>
      <form action="/option/new" method="post">
        <label for="option-name">Name: </label>
        <input type="text" name="option-name" id="option-name" value="<%= locals.prev && prev.optionName %>" required />
        <label for="option-price">Price: </label>
        <input type="number" name="option-price" id="option-price" value="<%= locals.prev && prev.optionPrice %>" required>
        <button type="submit">Create</button>
      </form>
      <%- include("../errors/option-errors") %>
    </div>
  </section>
</main>